<div id="carouselExampleIndicators" class="carousel slide" style="background-color: #6236ff;" data-ride="carousel"
  data-interval="3000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">


    <div class="container carousel-item active">
      <img class="d-block w-100 card-img-top height" src="../../../assets/images/5150381-removebg-preview.png"
        alt="First slide">

      <div class="card-body">
        <h5 class="card-title text-white">Symptom</h5>
        <span class="card-text text-white"> Read Carefully The Symptom Of Covid-19</span>
      </div>

    </div>
    <div class="container carousel-item">
      <img class="d-block w-100 card-img-top height" src="../../../assets/images/3622110-removebg-preview.png"
        alt="First slide">

      <div class="card-body">
        <h5 class="card-title text-white">Be Cautious ! </h5>
        <span class="card-text text-white"> There are {{x.activeNew | number:'1.0':'en-US'}} New Active Cases
          Globally</span>
      </div>

    </div>
    <div class="container carousel-item">
      <img class="d-block w-100 card-img-top height" src="../../../assets/images/abstract-508-removebg-preview.png"
        alt="First slide">

      <div class="card-body">
        <h5 class="card-title text-white">Better Safe Than Sorry</h5>
        <span class="card-text text-white"> {{x.deaths | number:'1.0':'en-US'}} People Succumbed To Death</span>
      </div>


    </div>
  </div>


</div>







<div id="carouselExampleIndicators" class="carousel slide mt-3" data-ride="carousel" data-interval="1000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">


    <div class="container carousel-item news active">

      <div class="row">
        <div class="col-md-5"><img class="d-block w-100  height-news img-fluid rounded"
            src="../../../assets/images/pic1.jpg" alt="First slide">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p class="card-title text-dark text-align-justify font-weight-bold small text">'Rising demand': Thane mayor writes to CM, seeks
              additional Covid vaccine doses</p>
            <p class="card-text text-secondary text-align-justify small text-p">In view of the "rising demand" from people, Thane Mayor
              Naresh Mhaske has urged Maharashtra Chief Minister Uddhav Thackeray to supply more doses of anti-Covid
              jabs.</p>
          </div>
        </div>

      </div>
    </div>


    <div class="container carousel-item news">
      <div class="row">
        <div class="col-md-5"><img class="d-block w-100  height-news img-fluid rounded"
            src="../../../assets/images/pic2.jpg" alt="First slide">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p class="card-title text-dark font-weight-bold small text">'Rising demand': Thane mayor writes to CM, seeks
              additional Covid vaccine doses</p>
            <p class="card-text text-secondary small text-p">In view of the "rising demand" from people, Thane Mayor
              Naresh Mhaske has urged Maharashtra Chief Minister Uddhav Thackeray to supply more doses of anti-Covid
              jabs.</p>
          </div>

        </div>
      </div>
    </div>


      <div class="container carousel-item news">
        <div class="row">
          <div class="col-md-5"><img class="d-block w-100  height-news img-fluid rounded"
              src="../../../assets/images/pic3.jpg" alt="First slide">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <p class="card-title text-dark font-weight-bold text-align-justify small text">'Rising demand': Thane mayor writes to CM,
                seeks additional Covid vaccine doses</p>
              <p class="card-text text-secondary small text-p">In view of the "rising demand" from people, Thane Mayor
                Naresh Mhaske has urged Maharashtra Chief Minister Uddhav Thackeray to supply more doses of anti-Covid
                jabs.</p>
            </div>
          </div>

        </div>
      </div>

    
  </div>
</div>